<%= form_for(@historial_medicion, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @historial_medicion.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h4><%= pluralize(@historial_medicion.errors.count, "error") %> prohibited this historial_medicion from being saved:</h4>

      <ul>
      <% @historial_medicion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :novedad_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.collection_select :novedad_id, Novedad.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :medidor_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.collection_select :medidor_id, Medidor.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.collection_select :user_id, User.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :estado_medidor, class: "col-sm-3 control-label" %>
    <div class="col-sm-3">
      <%= f.number_field :estado_medidor, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_medicion, "Fecha de medición", class: "col-sm-3 control-label" %>
    <div class="col-lg-2">
      <%= f.text_field :fecha_medicion, class: "form-control", id: "datepicker_medicion", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_modificacion, "Fecha de modificación", class: "col-sm-3 control-label" %>
    <div class="col-lg-2">
      <%= f.text_field :fecha_modificacion, class: "form-control", id: "datepicker_modificacion", required: false %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary", value: "Guardar"%>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('document').ready(function(){
    $("#datepicker_medicion").datepicker();
    $("#datepicker_modificacion").datepicker();
  });
</script>
