<div class="page-header">
  <%= link_to new_historial_medicion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Historial medicion
  <% end %>
  <h4>Listado de historial_medicions</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Novedad</th>
            <th>Medidor</th>
            <th>User</th>
            <th>Estado medidor</th>
            <th>Fecha medicion</th>
            <th>Fecha modificacion</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @historial_medicions) do |historial_medicion| %>
            <td><%= historial_medicion.novedad %></td>
            <td><%= historial_medicion.medidor %></td>
            <td><%= historial_medicion.user %></td>
            <td><%= historial_medicion.estado_medidor %></td>
            <td><%= historial_medicion.fecha_medicion %></td>
            <td><%= historial_medicion.fecha_modificacion %></td>
            <td><%= link_to 'Ver', historial_medicion %></td>
        <td><%= link_to 'Editar', edit_historial_medicion_path(historial_medicion) %></td>
        <td><%= link_to 'Eliminar', historial_medicion, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
