<div class="page-header">
  <%= link_to new_historial_medicion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Medición
  <% end %>
  <h4>Listado de Mediciones</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Medidor</th>
            <th>Novedad</th>
            <th>Estado</th>
            <th>Fecha de medición</th>
            <th>Fecha de modificación</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @historial_medicions) do |historial_medicion| %>
            <td><%= historial_medicion.medidor %></td>
            <td><%= historial_medicion.novedad %></td>
            <td><%= historial_medicion.estado_medidor %></td>
            <td><%= historial_medicion.fecha_medicion %></td>
            <td><%= historial_medicion.fecha_modificacion %></td>
            <td style="width: 150px;">
              <%= link_to historial_medicion, class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
              <%= link_to edit_historial_medicion_path(historial_medicion), class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to historial_medicion, class: 'btn btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
