<div class="page-header">
  <%= link_to novedads_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to @novedad, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h4>Editar Novedad</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to novedads_path do %>
        <%= fa_icon "newspaper-o", text: "Novedades" %>
    <% end %>
  </li>
  <li class="active">
    Editar Novedad
  </li>
</ol>

<%= render 'form' %>
