<div class="page-header">
  <%= link_to new_novedad_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus", text: "Nueva Novedad" %>
  <% end %>
  <h4>Listado de Novedades</h4>
</div>
<ol class="breadcrumb">
  <li class="active">
    <%= fa_icon "newspaper-o", text: "Novedades" %>
  </li>
</ol>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Prioridad</th>
            <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @novedads) do |novedad| %>
        <td><%= novedad.codigo %></td>
        <td><%= novedad.descripcion %></td>
        <td><%= novedad.prioridad %></td>
        <td style="width: 150px;">
        <%= link_to novedad, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <%= link_to edit_novedad_path(novedad), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to novedad, class: 'btn btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
