<%= form_for(@usuario_persona, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @usuario_persona.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h4><%= pluralize(@usuario_persona.errors.count, "error") %> prohibited this usuario_persona from being saved:</h4>

      <ul>
      <% @usuario_persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :usuario, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :usuario, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :persona, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :persona, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary", value: "Guardar"%>
    </div>
  </div>
<% end %>
