<div class="page-header">
  <%= link_to new_usuario_medidor_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Usuario medidor
  <% end %>
  <h4>Listado de usuario_medidors</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Usuario</th>
            <th>Medidor</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @usuario_medidors) do |usuario_medidor| %>
            <td><%= usuario_medidor.usuario %></td>
            <td><%= usuario_medidor.medidor %></td>
            <td><%= link_to 'Ver', usuario_medidor %></td>
        <td><%= link_to 'Editar', edit_usuario_medidor_path(usuario_medidor) %></td>
        <td><%= link_to 'Eliminar', usuario_medidor, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
