<div class="page-header">
  <%= link_to new_prioridad_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Prioridad
  <% end %>
  <h4>Listado de prioridades</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Descripción</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @prioridads) do |prioridad| %>
            <td><%= prioridad.descripcion %></td>
            <td><%= link_to 'Ver', prioridad %></td>
        <td><%= link_to 'Editar', edit_prioridad_path(prioridad) %></td>
        <td><%= link_to 'Eliminar', prioridad, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
