<div class="page-header">
  <%= link_to prioridads_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_prioridad_path(@prioridad), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Prioridad</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to prioridads_path do %>
        <%= fa_icon "list-alt", text: "Prioridades" %>
    <% end %>
  </li>
  <li class="active">
    Ver Prioridad
  </li>
</ol>


<dl class="dl-horizontal">
  <dt>Descripción:</dt>
  <dd><%= @prioridad.descripcion %></dd>
  <dt>Valor:</dt>
  <dd><%= @prioridad.valor %></dd>
</dl>
