<div class="page-header">
  <%= link_to new_ruta_user_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus", text: "Asignar Ruta" %>    
  <% end %>
  <h4>Listado de Rutas asignadas</h4>
</div>
<ol class="breadcrumb">
  <li class="active">
    <%= fa_icon "paperclip", text: "Listado de Rutas asignadas" %>
  </li>
</ol>

<div align="right">
  <%= link_to "#{ruta_users_path}.pdf", class: 'btn btn-sm btn-danger' do %>
    <%= fa_icon "file-pdf-o", text: "Exportar" %>
  <% end %>
</div>
<br/>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Ruta</th>
            <th>Tomaestado</th>
            <th>Fecha de alta</th>
            <th>Fecha de baja</th>
            <th class="col-md-2">&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ruta_users) do |ruta_user| %>
        <td><%= ruta_user.rutum %></td>
        <td><%= ruta_user.user %></td>
        <td><%= ruta_user.fecha_alta %></td>
        <td><%= ruta_user.fecha_baja %></td>
        <td class="text-center">
        <%= link_to ruta_user, class: 'btn btn-sm btn-default' do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <%= link_to edit_ruta_user_path(ruta_user), class: 'btn btn-sm btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to ruta_user, class: 'btn btn-sm btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
