<div class="page-header">
  <%= link_to new_medidor_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Medidor
  <% end %>
  <h4>Listado de Medidores</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Número</th>
            <th>Multiplicador</th>
            <th>Tipo de Medidor</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @medidors) do |medidor| %>
            <td><%= medidor.numero %></td>
            <td><%= medidor.multiplicador %></td>
            <td><%= medidor.tipo_medidor %></td>
            <td><%= link_to 'Ver', medidor %></td>
        <td><%= link_to 'Editar', edit_medidor_path(medidor) %></td>
        <td><%= link_to 'Eliminar', medidor, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
