<div class="page-header">
  <%= link_to medidors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_medidor_path(@medidor), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Medidor</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to medidors_path do %>
        <%= fa_icon "calculator", text: "Medidores" %>
    <% end %>
  </li>
  <li class="active">
    Ver Medidor
  </li>
</ol>

<dl class="dl-horizontal">
  <dt>Número:</dt>
  <dd><%= @medidor.numero %></dd>

  <dt>Multiplicador:</dt>
  <dd><%= @medidor.multiplicador %></dd>

  <dt>Marca:</dt>
  <dd><%= @medidor.marca %></dd>

  <dt>Modelo:</dt>
  <dd><%= @medidor.modelo %></dd>

  <dt>Fecha de alta:</dt>
  <dd><%= @medidor.fecha_alta %></dd>

  <dt>Fecha de baja:</dt>
  <dd><%= @medidor.fecha_baja %></dd>

  <dt>Tipo de medidor:</dt>
  <dd><%= @medidor.tipo_medidor %></dd>

</dl>
