<div class="page-header">
  <%= link_to new_grupo_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Grupo
  <% end %>
  <h4>Listado de grupos</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Codigo</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @grupos) do |grupo| %>
            <td><%= grupo.nombre %></td>
            <td><%= grupo.descripcion %></td>
            <td><%= grupo.codigo %></td>
            <td><%= link_to 'Ver', grupo %></td>
        <td><%= link_to 'Editar', edit_grupo_path(grupo) %></td>
        <td><%= link_to 'Eliminar', grupo, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
