<div class="page-header">
  <%= link_to grupos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_grupo_path(@grupo), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Grupo</h4>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @grupo.nombre %></dd>

  <dt>Descripción:</dt>
  <dd><%= @grupo.descripcion %></dd>

  <dt>Código:</dt>
  <dd><%= @grupo.codigo %></dd>

</dl>
