<div class="page-header">
  <%= link_to tipo_medidors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_tipo_medidor_path(@tipo_medidor), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Tipo de medidor</h4>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @tipo_medidor.nombre %></dd>

  <dt>Código:</dt>
  <dd><%= @tipo_medidor.codigo %></dd>

  <dt>Descripción:</dt>
  <dd><%= @tipo_medidor.descripcion %></dd>

</dl>
