<div class="page-header">
  <%= link_to new_zona_usuario_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Zona usuario
  <% end %>
  <h4>Listado de zona_usuarios</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Zona</th>
            <th>Usuario</th>
            <th>Orden</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @zona_usuarios) do |zona_usuario| %>
            <td><%= zona_usuario.zona %></td>
            <td><%= zona_usuario.usuario %></td>
            <td><%= zona_usuario.orden %></td>
            <td><%= link_to 'Ver', zona_usuario %></td>
        <td><%= link_to 'Editar', edit_zona_usuario_path(zona_usuario) %></td>
        <td><%= link_to 'Eliminar', zona_usuario, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
