<div class="page-header">
  <%= link_to new_zona_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Zona
  <% end %>
  <h4>Listado de Zonas</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Grupo</th>
            <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @zonas) do |zona| %>
        <td><%= zona.nombre %></td>
        <td><%= zona.grupo %></td>
        <td style="width: 150px;">
        <%= link_to zona, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <%= link_to edit_zona_path(zona), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to zona, class: 'btn btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
