<div class="page-header">
  <%= link_to tipo_documentos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_tipo_documento_path(@tipo_documento), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Tipo de documento</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to tipo_documentos_path do %>
        <%= fa_icon "wpforms", text: "Tipos de documento" %>
    <% end %>
  </li>
  <li class="active">
    Ver Tipo de documento
  </li>
</ol>

<dl class="dl-horizontal">
  <dt>Descripción:</dt>
  <dd><%= @tipo_documento.descripcion %></dd>

</dl>
