<%= nested_form_for(@usuario, html: { role: "form"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h5><b>Atención. Hubo <%= pluralize(@usuario.errors.count, "error") %></b></h5>
      <ul>
      <% @usuario.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "male" %> Datos personales
      <% if params[:action] == 'new' %>
        <small>(Seleccione un <b>Tipo de documento</b> y complete el campo <b>Número de documento</b> para realizar una búsqueda de datos) </small>
      <% end %>
      </h3>
    </div>
    <div class="panel-body">  

      <%= f.fields_for :persona do |p| %>
        <div class="row">
          <%= p.label :tipo_documento_id, "Tipo de documento", class: "col-sm-2 control-label" %>
          <div class="col-sm-2">
            <%= p.collection_select :tipo_documento_id, TipoDocumento.all, :id, :to_s, {prompt: false, selected: TipoDocumento.where(descripcion: "DNI").first.id}, {:class => "form-control"} %>
          </div>
          <%= p.label :nro_documento, "Número de documento", class: "col-sm-3 control-label" %>
          <div class="col-sm-2">
            <%= p.text_field :nro_documento, :class => "form-control" %>
          </div>
        </div>

        <div class="row">
          <%= p.label :apellido, "Apellido", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= p.text_field :apellido, :class => "form-control" %>
          </div>

          <%= p.label :nombre, "Nombre", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= p.text_field :nombre, :class => "form-control" %>
          </div>
        </div>

        <div class="row">
          <%= p.label :telefono, "Teléfono", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= p.text_field :telefono, :class => "form-control" %>
          </div>
          <%= p.label :email, "Email", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= p.text_field :email, :class => "form-control" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "user" %> Datos del usuario</h3>
    </div>
    <div class="panel-body">  
      <div class="row">

        <%= f.label :categorium_id, "Categoría", class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= f.collection_select :categorium_id, Categorium.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
        </div>
        <%= f.label :numero, "Número", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
          <%= f.number_field :numero, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <%= f.label :razon_social, "Razón social", class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :razon_social, class: "form-control" %>
        </div>
      </div>
    <!-- <div class="form-group">
      <%= f.label :domicilio, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :domicilio, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :circunscripcion, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :circunscripcion, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sector, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :sector, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tipo, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :tipo, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :manzana, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :manzana, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :parcela, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :parcela, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :unidad_funcional, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :unidad_funcional, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :latitud, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :latitud, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :longitud, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :longitud, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :estado_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.collection_select :estado_id, Estado.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
      </div>
    </div> -->
      <%= hidden_field(:usuario, :latitud) %>
      <%= hidden_field(:usuario, :longitud) %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "map-marker" %> Ubicación del Usuario 
        <% if params[:action] == 'edit' %>
          <small>(Arrastre el marcador para cambiar la ubicación) </small>
        <% else %>
          <small>(Haga click en el mapa para seleccionar una ubicación) </small>
        <% end %>
      </h3>
    </div>
    <div class="panel-body"> 
      <div id="map"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "calculator" %> Medidores Asignados</h3>
    </div>
    <div class="panel-body">  

      <%= f.fields_for :usuario_medidors do |m| %>
        <div class="row">
          <%= m.label :medidor_id, "Medidor", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= m.collection_select :medidor_id, Medidor.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
          </div>
          <%= m.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash pull-right" %>
        </div>
      <% end %>
      <p><%= f.link_to_add "Asignar un Medidor", :usuario_medidors , :class => "label label-success" %></p>

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary", value: "Guardar"%>
    </div>
  </div>
<% end %>


<script type="text/javascript">  
  //Array de marcadores
  var markersArray = [];
  //Variable para mapa
  var mymap ;

  /* Elimina todos los marcadores del mapa */
  function deleteMarkers() {
    if (markersArray) {
      for (i in markersArray) {
        mymap.removeLayer(markersArray[i]);
      }
      markersArray.length = 0;
    }
  }

  /* Ubica un marcador en el mapa */
  function placeMarker(e) {      
    deleteMarkers();
    var marker = L.marker(e.latlng, {draggable: true}).addTo(mymap);
    var position = marker.getLatLng();
    $('#usuario_latitud').val(position.lat.toString());
    $('#usuario_longitud').val(position.lng.toString());
    marker.on('dragend', function(event){
      var marker = event.target;
      var position = marker.getLatLng();
      $('#usuario_latitud').val(position.lat.toString());
      $('#usuario_longitud').val(position.lng.toString());
    });
    markersArray.push(marker);
  }

  /*Inicializa el mapa*/
  function initMap(){
    mymap = L.map('map').setView([-43.296344, -65.091966], 15);
    L.tileLayer('http://tile.osm.org/{z}/{x}/{y}.png', 
    {
      attribution: 'Cooperativa de Servicios Públicos Limitados Consumo y Vivienda Rawson',
      maxZoom: 18
    }).addTo(mymap);

    <% if params[:action] == 'edit' %>
      //Creo un marcador con los datos almacenados
      var marker = L.marker([<%= @usuario.latitud %>,<%= @usuario.longitud %>], {draggable: true}).addTo(mymap);
      mymap.panTo(marker.getLatLng());
      marker.on('dragend', function(event){
        var marker = event.target;
        var position = marker.getLatLng();
        $('#usuario_latitud').val(position.lat.toString());
        $('#usuario_longitud').val(position.lng.toString());
      });
      markersArray.push(marker);
    <% end %>
        
    mymap.on('click', placeMarker);
  }

  $('document').ready(function(){
    initMap();    
    $('#usuario_persona_attributes_tipo_documento_id').change(function(){
      var tipo_documento_id = parseInt($('#usuario_persona_attributes_tipo_documento_id').val(),10);
      var nro_documento = parseInt($('#usuario_persona_attributes_nro_documento').val(),10);
      $.ajax({
        url: '/personas/find_persona/'+tipo_documento_id+'/'+nro_documento,
        type: 'GET'
      })
      .done(function(data){        
        $('#usuario_persona_attributes_apellido').val('');
        $('#usuario_persona_attributes_nombre').val('');
        $('#usuario_persona_attributes_telefono').val('');
        $('#usuario_persona_attributes_email').val('');
        if (data != null)
        {          
          $('#usuario_persona_attributes_apellido').val(data.apellido.toString());
          $('#usuario_persona_attributes_nombre').val(data.nombre.toString());
          $('#usuario_persona_attributes_telefono').val(data.telefono.toString());
          $('#usuario_persona_attributes_email').val(data.email.toString());
        }
      });
    });
    $('#usuario_persona_attributes_nro_documento').on('keyup',function(){
      var tipo_documento_id = parseInt($('#usuario_persona_attributes_tipo_documento_id').val(),10);
      var nro_documento = parseInt($('#usuario_persona_attributes_nro_documento').val(),10);
      $.ajax({
        url: '/personas/find_persona/'+tipo_documento_id+'/'+nro_documento,
        type: 'GET'
      })
      .done(function(data){        
        $('#usuario_persona_attributes_apellido').val('');
        $('#usuario_persona_attributes_nombre').val('');
        $('#usuario_persona_attributes_telefono').val('');
        $('#usuario_persona_attributes_email').val('');
        if (data != null)
        {          
          $('#usuario_persona_attributes_apellido').val(data.apellido.toString());
          $('#usuario_persona_attributes_nombre').val(data.nombre.toString());
          $('#usuario_persona_attributes_telefono').val(data.telefono.toString());
          $('#usuario_persona_attributes_email').val(data.email.toString());
        }
      });
    });
  });
</script>
