<%= nested_form_for(@usuario, html: { role: "form", onsubmit: "return validateMarker()" }) do |f| %>
  <% if @usuario.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h5>Atención. Hubo <%= pluralize(@usuario.errors.count, "error") %></h5>
      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "male" %> Datos personales</h3>
    </div>
    <div class="panel-body">  

      <%= f.fields_for :persona do |p| %>

      <div class="row">

      
        <%= p.label :tipo_documento_id, "Tipo de doc.", class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <%= p.collection_select :tipo_documento_id, TipoDocumento.all, :id, :to_s, {prompt: false}, {:class => "form-control input-sm"} %>
        </div>
      
      
        <%= p.label :nro_documento, "N° de documento", class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= p.text_field :nro_documento, :class => "form-control input-sm" %>
        </div>

      </div>
      <div class="row">

        <%= p.label :apellido, "Apellido", class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= p.text_field :apellido, :class => "form-control input-sm" %>
        </div>

        <%= p.label :nombre, "Nombre", class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= p.text_field :nombre, :class => "form-control input-sm" %>
        </div>
      </div>
      <div class="row">
          <%= p.label :telefono, "Teléfono", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= p.text_field :telefono, :class => "form-control input-sm" %>
          </div>
          <%= p.label :email, "Email", class: "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= p.text_field :email, :class => "form-control input-sm" %>
          </div>
      </div>

      <% end %>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "user" %> Datos del usuario</h3>
    </div>
    <div class="panel-body">  


    <div class="row">

        <%= f.label :categorium_id, "Categoría", class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= f.collection_select :categorium_id, Categorium.all, :id, :to_s, {prompt: false}, {:class => "form-control input-sm"} %>
        </div>
        <%= f.label :numero, "Número", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
          <%= f.number_field :numero, class: "form-control input-sm" %>
        </div>

    </div>

    <div class="row">

      <%= f.label :razon_social, "Razón social", class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :razon_social, class: "form-control input-sm" %>
      </div>

    </div>
    <!-- <div class="form-group">
      <%= f.label :domicilio, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :domicilio, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :circunscripcion, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :circunscripcion, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sector, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :sector, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tipo, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :tipo, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :manzana, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :manzana, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :parcela, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :parcela, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :unidad_funcional, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :unidad_funcional, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :latitud, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :latitud, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :longitud, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :longitud, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :estado_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.collection_select :estado_id, Estado.all, :id, :to_s, {prompt: false}, {:class => "form-control input-sm"} %>
      </div>
    </div> -->
    <%= hidden_field(:usuario, :latitud) %>
    <%= hidden_field(:usuario, :longitud) %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "map-marker" %> Ubicación del Usuario 
        <% if params[:id] != nil %>
          <small>(Arrastre el marcador para cambiar la ubicación) </small>
        <% else %>
          <small>(Haga click en el mapa para seleccionar una ubicación) </small>
        <% end %>
      </h3>
    </div>
    <div class="panel-body"> 
      <div id="map"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= fa_icon "calculator" %> Medidores Asignados</h3>
    </div>
    <div class="panel-body">  

      <%= f.fields_for :usuario_medidors do |m| %>

      <div class="row">

        <%= m.label :medidor_id, "Medidor", class: "col-sm-3 control-label" %>
        <div class="col-sm-6">
          <%= m.collection_select :medidor_id, Medidor.all, :id, :to_s, {prompt: false}, {:class => "form-control input-sm"} %>
        </div>
        <%= m.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash pull-right" %>

      </div>
      <% end %>


      <p><%= f.link_to_add "Agregar un Medidor", :usuario_medidors , :class => "label label-success" %></p>

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary", value: "Guardar"%>
    </div>
  </div>
<% end %>


<script type="text/javascript">  
  //Array de marcadores
  var markersArray = [];
  //Variable para mapa
  var mymap = L.map('map').setView([-43.296344, -65.091966], 15);

  /*Verifica que al menos exista un marcador en el mapa*/
  function validateMarker(){
    if (markersArray.length == 0){
      alert("Debe seleccionar una ubicación en el mapa");
      return false;
    }
    return true;
  }

  /* Elimina todos los marcadores del mapa */
  function deleteMarkers() {
    if (markersArray) {
      for (i in markersArray) {
        mymap.removeLayer(markersArray[i]);
      }
      markersArray.length = 0;
    }
  }

  /* Ubica un marcador en el mapa */
  function placeMarker(e) {      
    deleteMarkers();
    var marker = L.marker(e.latlng, {draggable: true}).addTo(mymap);
    var position = marker.getLatLng();
    $('#usuario_latitud').val(position.lat.toString());
    $('#usuario_longitud').val(position.lng.toString());
    marker.on('dragend', function(event){
      var marker = event.target;
      var position = marker.getLatLng();
      $('#usuario_latitud').val(position.lat.toString());
      $('#usuario_longitud').val(position.lng.toString());
    });
    markersArray.push(marker);
  }

  $('document').ready(function(){
    L.tileLayer('http://tile.osm.org/{z}/{x}/{y}.png', 
    {
      attribution: 'Cooperativa de Servicios Públicos Limitados Consumo y Vivienda Rawson',
      maxZoom: 18
    }).addTo(mymap);

    //Si hay un id como parametro en la URL se trata de una edición
    <% if params[:id] != nil %>
      //Creo un marcador con los datos almacenados
      var marker = L.marker([<%= @usuario.latitud %>,<%= @usuario.longitud %>], {draggable: true}).addTo(mymap);
      mymap.panTo(marker.getLatLng());
      marker.on('dragend', function(event){
        var marker = event.target;
        var position = marker.getLatLng();
        $('#usuario_latitud').val(position.lat.toString());
        $('#usuario_longitud').val(position.lng.toString());
      });
      markersArray.push(marker);
    <% end %>
        
    mymap.on('click', placeMarker);
  });
</script>
