<div class="page-header">
  <%= link_to usuarios_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_usuario_path(@usuario), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Usuario</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to usuarios_path do %>
        <%= fa_icon "user", text: "Usuarios" %>
    <% end %>
  </li>
  <li class="active">
    Ver Usuario
  </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "male" %> Datos personales</h3>
  </div>
  <div class="panel-body">  

    <dl class="dl-horizontal">

    <dt>Tipo de documento:</dt>
    <dd><%= @usuario.persona.tipo_documento %></dd>

    <dt>Apellido:</dt>
    <dd><%= @usuario.persona.apellido %></dd>

    <dt>Nombre:</dt>
    <dd><%= @usuario.persona.nombre %></dd>

    <dt>Teléfono:</dt>
    <dd><%= @usuario.persona.telefono %></dd>

    <dt>Email:</dt>
    <dd><%= @usuario.persona.email %></dd>

    </dl>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "user" %> Datos del usuario</h3>
  </div>
  <div class="panel-body">  

    <dl class="dl-horizontal">

    <dt>Categoría:</dt>
    <dd><%= @usuario.categorium %></dd>

    <dt>Razón social:</dt>
    <dd><%= @usuario.razon_social %></dd>

    <dt>Número:</dt>
    <dd><%= @usuario.numero %></dd>

    <!--<dt>Domicilio postal:</dt>
    <dd><%= @usuario.domicilio_postal %></dd>

    <dt>Domicilio servicio:</dt>
    <dd><%= @usuario.domicilio_servicio %></dd>

    <dt>Circunscripcion:</dt>
    <dd><%= @usuario.circunscripcion %></dd>

    <dt>Sector:</dt>
    <dd><%= @usuario.sector %></dd>

    <dt>Tipo:</dt>
    <dd><%= @usuario.tipo %></dd>

    <dt>Manzana:</dt>
    <dd><%= @usuario.manzana %></dd>

    <dt>Parcela:</dt>
    <dd><%= @usuario.parcela %></dd>

    <dt>Unidad funcional:</dt>
    <dd><%= @usuario.unidad_funcional %></dd>

    <dt>Latitud:</dt>
    <dd><%= @usuario.latitud %></dd>

    <dt>Longitud:</dt>
    <dd><%= @usuario.longitud %></dd>

    <dt>Estado:</dt>
    <dd><%= @usuario.estado %></dd>

    <dt>Fecha alta:</dt>
    <dd><%= @usuario.fecha_alta %></dd>

    <dt>Fecha baja:</dt>
    <dd><%= @usuario.fecha_baja %></dd>-->
  </dl>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "map-marker" %> Ubicación del Usuario</h3>
  </div>
  <div class="panel-body"> 
    <%= map(:center => {
      :latlng => [@usuario.latitud, @usuario.longitud],
      :zoom => 15
    },
    :markers => [
      {
        :latlng => [@usuario.latitud, @usuario.longitud],
        :popup => @usuario.to_s
      }
    ]) %>
  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "calculator" %> Medidores asignados</h3>
  </div>
  <div class="panel-body">  
    <dl class="dl-horizontal">
      <% if !@usuario.medidors.empty? %>
        <% @usuario.medidors.each do |m| %>
          <dt>Medidor:</dt>
          <dd><%= m.to_s %></dd>
        <% end %>
      <% else %>
        <div class="alert alert-warning" role="alert">
          <b><%= fa_icon "exclamation-circle" %></b>
          Aún no se han asignado Medidores!
        </div>
      <% end %>
    </dl>
  </div>
</div>

