<div class="page-header">
  <%= link_to :back, class: 'btn btn-default' do %>
    <%= fa_icon "mail-reply", text: "Volver" %>
  <% end %>
  <%= link_to @estado_medidor, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h4>Editar Medición</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to estado_medidors_path do %>
        <%= fa_icon "line-chart", text: "Mediciones" %>
    <% end %>
  </li>
  <li class="active">
    Editar Medición
  </li>
</ol>

<%= render 'form' %>
