<div class="page-header">
  <h4>Listado de Rutas</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Zona</th>
            <th>Descripción</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ruta) do |rutum| %>
            <td><%= rutum.numero %></td>
            <td><%= rutum.nombre %></td>
            <td><%= rutum.zona %></td>
            <td><%= rutum.descripcion %></td>        
      <% end %>
    </tbody>
  </table>
</div>