<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SMM</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><%= link_to "SMM", "/", class: "navbar-brand" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Inicio", index_path %>
            <li><%= link_to "Categorías", categoria_path %>
            <li><%= link_to "Grupos", grupos_path %>
            <li><%= link_to "Prioridades", prioridads_path %>
            <li><%= link_to "Tipos de documentos", tipo_documentos_path %>
            <li><%= link_to "Zonas", zonas_path %>
            <li><%= link_to "Novedad", novedads_path %>
            <li><%= link_to "Tipo de Medidor", tipo_medidors_path %>
            <li><%= link_to "Medidor", medidors_path %>
            <li><%= link_to "Estados", estados_path %>
            <li><%= link_to "Personas", personas_path %>
            <li><%= link_to "Usuarios", usuarios_path %>
            <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <%= msg %>
              <% end %>
            <% end %>
            <br/>
            <a href="#" class="btn btn-default" id="menu-toggle">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>

            <%= yield %>

            <!-- Menu Toggle Script -->
            <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            </script>            
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->    
  </div>
</body>
</html>
